
@font-face {
    font-family: charter;
    src: url("./font/charter-regular.otf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url("./font/charter-italic.otf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url("./font/charter-bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url("../font/charter-bold-italic.otf");
    font-style: italic;
    font-weight: bold;
}
:root {
    font-size: 18px;
    --white30: white;
    --white20: #A5A3A5;
    --white10: #616161;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background: #251f24;
    /* font-family: charter; */
}
a {
    color: var(--white30);
}
header {
    color: var(--white);
    font-size: 14px;
    width: -232px;
    position: absolute;
    top: 64px;
    left: -188px;
}
header a {
    color: var(--white20);
    text-decoration: none;
}
header :hover {
    color: var(--white30);
}
nav details summary {
    font-weight: bold;
}
header li {
    color: var(--white20);
    margin-bottom: 16px;
}
p {
    color: var(--white20);
    font-size: 16px;
}
nav details summary {
    font-weight: bold;
    line-height: 24px;
}
h1 {color: var(--white30);
    font-size: 60px;
    margin-block-start: 64px;
    margin-block-end: 16px;
    font-weight: normal;
}
hr {
   margin-block: 40px;
   border: rgba(97, 97, 97, 0.2); 
} 
h2 {
    color: var(--white30);
    font-size: 32px;
    margin-block: 40px;
    font-weight: normal;
}
h3 {
    color: var(--white30);
    margin-block: 16px;
    font-weight: 600;
}
pre {
    overflow: auto;
    background: var(--white10);
    padding: 40px;
    border-radius: 8px;
    line-height: 24px;
}
blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    margin-left: 0;
    margin-right: 0;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-end: 24px;
    padding-block-start: 24px;
    font-size: 24px;
    line-height: 32px;
    background-color: var(--white10);
    color: var(--white10);
    border-radius: 8px;
}
blockquote p {
    color: var(--white30);
}
blockquote span {
    color: var(--white10);
}
blockquote span::before {
    content: "-";
}
.header {
    position: sticky;
    inset-block-start: -45px;
}
.header-content {
    position: relative;
}
.main {

}
.wrapper {
    max-inline-size: 902px;
    margin: auto;
}
.main-content { 
    padding-inline: 16px;
}
.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 350px;
}
.section-content {
    margin-top: 164px;
}
.section-content:first-of-type{
    margin: 0;
}
.section-content ul li {
    margin-bottom: 16px;
}
.section-content * hr {
    display: none;
}
.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}
.section-content {
    counter-reset: titlelist;
}
.section-content2 {
    margin-top: 0;
}
.section-content h3 {
    counter-increment: titlelist;
    padding-bottom: 8px;
}
.section-content h3::before {
    content: counter(titlelist, decimal) ". ";
}
/*.section-content h3::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--white30);
    display: block;
}*/
.main hr {
    display: none;
}

.slider {

}
.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}
.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list {
    text-align: center;
}
.slider-buller {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}
.section-content1 {
    margin: 0;
}
.form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background: #251f24;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}
.form input::-webkit-input-placeholder {
    color: var(--white20);
}
.form input[type="submit"] {
    background: #157EFB;
    border: none;
}
.enlace {
    color: blue;
}
@media screen and (min-width: 1366px) {
    body {

    }
}
