html {
    margin: 0%;
    padding: 0%;
}
body {
    
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: aqua;
   
}
.contenido_header1 {
    width: 95%;
    height: 90px;
    background-color: #212121;
    padding: 0 20px;
    position: fixed;
    z-index: 9999;
}
.contenido_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
    
.logo {
    background-image: url(./images/plural.png);
    width: 200px;
    height: 90px;
    margin-bottom: 22px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 90% auto;
    position: relative;
    display: inline-block;
}
.lista1_header {
    display: flex;
    flex-direction: row;
}
.div1_content {
    display: flex;
    justify-content: space-between;
}
.content_lista1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0%;
}
.enlace_lista1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 36px 20px;
    position: relative;
    text-decoration: none;
}
.enlace_prueba {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 11px 22px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: 1000;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #fff;
}
.div_header2 {
    width: 100%;
    background-color: #FFFFFF;

}
.content_lista2 {
    width: 100%;
    margin: 0%;
    padding-left: 150px;
}
.span1 {
    display: inline-block;
    height: 4px;
    position: relative;
    transform: rotate(45deg);
    border: solid;
    border-width: 0 2px 2px 0;
    padding: 2px;
    color: #fff;
    top: -3px;
    right: 0;
    transition: all .3s ease;
    margin-left: 2px;
}
.contenido_header2 {
    width: 100%;
    padding-top: 90px;
}
.div_content2 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
   width: 7.5%;
   height: 31px;
   margin-right: 7px;
}
.text_ayudanos {
    font-size: 16px;
    color: #181818;
    margin: 0%;
    line-height: 120%;
    padding-left: 10px;
}
.enlace_unete {
    font-family: 'PS Commons Bold';
    color: #ec008c;
    font-size: 16px;
    line-height: 120%;
    font-weight: 900;
    text-decoration: none;
}
.contenido_header3 {
    background-image: url(./images/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    position: relative;
    padding-top: 50px;
    height: 490px;
}
.div_header3 {
    text-align: center;
    margin: 0;
    padding: 0; 
}
.div_content_3 {
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 21%;
    width: 100%;
    display: flex;
    flex-direction: row;
   
}
.div_textos {
    margin: 0 auto;
    padding-right: 18%;
    max-width: 1000px;
    width: 100%;

}
.text_reglas {
    margin: 0%;
    font-size: 60px;
    padding-left: 2%;
    text-transform: none;
    font-family: 'PS Commons Bold';
    font-weight: 900;
    color: #FFFFFF;
}
.span2 {
    
}
.procesos {
    margin: 0%;
    padding-right: 23%;
    font-size: 56px;
    line-height: 1.4;
    font-family: 'PS Commons Bold';
    font-weight: 902;
    color: #FFFFFF;
}
.text_clientes {
    text-align: left;
    padding-left: 26%;
    margin: 0%;
    font-size: 22px;
    font-weight: 450;
    line-height: 1.2;
    font-family: "ps commons";
    color: #FFFFFF;
}
.button_ver {
    min-width: 250px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 18px 34px;
    border-style: none;
    background: #181818;
    margin-top: 30px;
    margin-left: 15%;
}
.enlace_ver {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    line-height: 1.1;
}
.button_gratis {
    margin-top: 30px;
    margin-left: 2%;
    min-width: 250px;
    padding: 19px 29px;
    font-weight: 900;
    background: 0 0;
    border: 1px solid #fff;
    white-space: normal;
    border-radius: 2px;
}
.enlace_gratis {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    text-decoration: none;
    line-height: 1.1;
    padding: 15px 30;
    font-family: 'PS Commons Bold';
    font-weight: normal;
}
.container_section1 {
    width: 100%;
    height: 380px;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #000;
}
.div_container1 {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;
}
.div1 {
    padding-left: 15px;
    min-height: 1px;
    width: 41.66667%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    left: 58.33333%;
    right: auto;
}
.text_tecnologia {
    font-size: 15px;
    letter-spacing: 1px;
    color: #ec008c;
    line-height: 1.4;
    font-weight: 900;7
    font-family: 'PS Commons Bold';
    font-weight: normal;
}
.h3_temas {
    font-size: 32px;
    margin: 0 0 20px 0;
    line-height: 1.2;
    color: #FFFFFF;
    font-weight: bold;
}
.text_p {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #FFFFFF; 
}
.enlace_indice 

